@model Sneakers.Core.Data.ViewModels.ShoppingCartViewModel

    <a class="nav-link"  asp-controller="ShoppingCart" asp-action="Index">
        <span style="color:red;">@Model.ShoppingCart.ShoppingCartItems.Count</span>
         <span><i class="fab fa-opencart"></i></span>
    </a>